<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FiloStreamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FiloStreamer.Properties.Settings>
            <setting name="ffmpeg" serializeAs="String">
                <value>ffmpeg.exe</value>
            </setting>
            <setting name="device" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="deviceMode" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="videoPreset" serializeAs="String">
                <value>superfast</value>
            </setting>
            <setting name="videoBitrate" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="videoExtra" serializeAs="String">
                <value>-pix_fmt yuv420p</value>
            </setting>
            <setting name="audioCodec" serializeAs="String">
                <value>libmp3lame</value>
            </setting>
            <setting name="audioBitrate" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="audioExtra" serializeAs="String">
                <value>-q:a 0</value>
            </setting>
            <setting name="networkLocal" serializeAs="String">
                <value>239.0.0.1:7777</value>
            </setting>
            <setting name="networkStream" serializeAs="String">
                <value />
            </setting>
            <setting name="loaderWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="loaderHeight" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="mainWindowWidth" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="mainWindowHeight" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="logWindowWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="logWindowHeight" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="settingsAdvanced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="settingsRecordingFolder" serializeAs="String">
                <value />
            </setting>
        </FiloStreamer.Properties.Settings>
    </userSettings>
</configuration>